@use 'vars'

.main-content
  grid-column: 10 span
  //background: vars.$base-color-cream
  padding: 5rem 0 0 20rem
  &__add-button
    @extend %add-button
    width: 50rem 
.todos-container
  width:  80rem
  &__item
    display: flex
    align-items: center
    padding: 2rem
    border-bottom: .1rem solid vars.$base-color-border
    font-size: 3rem
    &-container
      display: flex
      margin-left: auto
      &__edit, &__del
        margin-left: 1rem
        cursor: pointer
    &-description
      
    &-controls
      display: flex
      visibility: hidden
      margin-left: auto
      img
        pointer-events: none
        height: 2rem
        //cursor: pointer
      img:not(img:last-child)
        margin-right: 1rem
    
    &-date 
      display: flex
      align-items: center
      font-size: 2rem
      margin-right: 2rem
      padding: 1rem
      border-radius: 1rem
      &.low-priority
        background: #90fa86
      &.medium-priority
        background: #f1ff6e
      &.high-priority
        background: #ff9f9f

    input
      width: 3rem
      height: 3rem
      margin-right: 2rem

    &:hover &-controls
      visibility: visible
   